@import "fonts"
@import "libs"
@import "vars"
@import "services"
@import "about-us"


*
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box

  &:before, &:after
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box

html, body
  height: 100%

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	height: auto
	font-family: 'GT Eesti Pro Text', sans-serif
	overflow-x: hidden

.img-responsive
  display: block
  max-width: 100%
  height: auto

.text-center
	text-align: center


