@import "fonts"
@import "libs"
@import "vars"
@import "services"
@import "about-us"

@import "catalog"
@import "main/main_page"
@import "main/main_page-letter.sass"
@import "main/client_list.sass"
@import "main/license"
@import "main/advantage"
@import "main/description"
@import "article"
@import "hromot_page"
@import "main/feature"
@import "main/garanty"
@import "main/solve"

*
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box

  &:before, &:after
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box

html, body
  height: 100%

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	height: auto
	font-family: 'GT Eesti Pro Text', sans-serif
	overflow-x: hidden

.img-responsive
	display: block
	max-width: 100%
	height: auto

.text-center
	text-align: center

// Стили тут пишите


